In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import m_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Moron,AR,2022-07-20 17:49:48,-34.6534,-58.6198,67.80,64,1,7.54
1,1,Mugur-Aksy,RU,2022-07-20 17:49:49,50.3500,90.5000,46.13,71,55,3.47
2,2,Chuy,UY,2022-07-20 17:49:50,-33.6971,-53.4616,60.75,79,0,10.33
3,3,Dingle,PH,2022-07-20 17:49:52,10.9995,122.6711,77.29,88,74,2.17
4,4,Georgetown,MY,2022-07-20 17:47:19,5.4112,100.3354,81.90,89,20,1.14

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=m_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Dingle,PH,2022-07-20 17:49:52,10.9995,122.6711,77.29,88,74,2.17
4,4,Georgetown,MY,2022-07-20 17:47:19,5.4112,100.3354,81.90,89,20,1.14
6,6,Ribeira Grande,PT,2022-07-20 17:49:53,38.5167,-28.7000,75.60,83,20,8.05
7,7,Souillac,MU,2022-07-20 17:49:54,-20.5167,57.5167,70.18,68,40,21.85
10,10,Rikitea,PF,2022-07-20 17:49:56,-23.1203,-134.9692,72.95,75,2,0.83
13,13,Nikolskoye,RU,2022-07-20 17:49:58,59.7035,30.7861,73.87,57,96,11.52
17,17,Puerto Ayora,EC,2022-07-20 17:50:02,-0.7393,-90.3518,76.96,94,87,8.01
19,19,Bambous Virieux,MU,2022-07-20 17:50:03,-20.3428,57.7575,71.22,68,40,21.85
20,20,Birao,CF,2022-07-20 17:50:05,10.2849,22.7882,76.78,76,74,4.12
21,21,Usak,TR,2022-07-20 17:50:05,38.5000,29.4167,71.96,39,0,13.94

In [11]:
preferred_cities_df.count()

City_ID       276
City          276
Country       276
Date          276
Lat           276
Lng           276
Max Temp      276
Humidity      276
Cloudiness    276
Wind Speed    276
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3            Dingle      PH     77.29  10.9995  122.6711
4        Georgetown      MY     81.90   5.4112  100.3354
6    Ribeira Grande      PT     75.60  38.5167  -28.7000
7          Souillac      MU     70.18 -20.5167   57.5167
10          Rikitea      PF     72.95 -23.1203 -134.9692
13       Nikolskoye      RU     73.87  59.7035   30.7861
17     Puerto Ayora      EC     76.96  -0.7393  -90.3518
19  Bambous Virieux      MU     71.22 -20.3428   57.7575
20            Birao      CF     76.78  10.2849   22.7882
21             Usak      TR     71.96  38.5000   29.4167

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": m_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Dingle,PH,77.29,10.9995,122.6711,SEGAYA PROPERTY
4,Georgetown,MY,81.90,5.4112,100.3354,Cititel Penang
6,Ribeira Grande,PT,75.60,38.5167,-28.7000,Quinta da Meia Eira
7,Souillac,MU,70.18,-20.5167,57.5167,Shanti Maurice Resort & Spa
10,Rikitea,PF,72.95,-23.1203,-134.9692,People ThankYou
13,Nikolskoye,RU,73.87,59.7035,30.7861,Tourist House - Sablino
17,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Bambous Virieux,MU,71.22,-20.3428,57.7575,Casa Tia Villa
20,Birao,CF,76.78,10.2849,22.7882,
21,Usak,TR,71.96,38.5000,29.4167,Bekdemir Koyu Muhtarligi

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))