## Deliverable 2. Create a Customer Travel Destinations Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

path = "/Nishi/Data_BootCamp/Week6/World_Weather_Analysis"
# Importing sys
import sys
 
# Adding config to the system path
sys.path.insert(0, path)
 
# Import the API key.
from config import m_key

# Configure gmaps API key
gmaps.configure(api_key=m_key)

In [15]:
# 1. Import the WeatherPy_database.csv file. 
#Importing dependancies
import os

city_data_to_load = os.path.join(path,"Weather_Database", "WeatherPy_Database.csv")
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bredasdorp,ZA,-34.5322,20.0403,43.29,88,0,5.14,clear sky
1,1,Busselton,AU,-33.6500,115.3333,60.35,72,41,17.18,scattered clouds
2,2,Khatanga,RU,71.9667,102.5000,54.63,49,100,20.54,overcast clouds
3,3,New Norfolk,AU,-42.7826,147.0587,51.30,53,0,2.10,clear sky
4,4,Qaanaaq,GL,77.4840,-69.3632,40.75,80,100,6.76,overcast clouds

In [16]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
vacation_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
vacation_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Mahebourg,MU,-20.4081,57.7000,67.24,69,86,21.61,light rain
7,7,Ponta Do Sol,PT,32.6667,-17.1000,72.72,65,9,6.96,clear sky
9,9,Kalmunai,LK,7.4167,81.8167,85.42,68,100,1.32,overcast clouds
12,12,Ejura,GH,7.3856,-1.3562,67.23,82,72,4.97,broken clouds
13,13,Kahului,US,20.8947,-156.4700,78.96,64,40,25.32,scattered clouds
14,14,Mount Isa,AU,-20.7333,139.5000,69.57,19,1,13.80,clear sky
17,17,Faanui,PF,-16.4833,-151.7500,77.86,72,10,13.33,light rain
18,18,Vaini,TO,-21.2000,-175.2000,74.43,77,30,14.23,scattered clouds
20,20,Takab,IR,36.4009,47.1133,79.11,25,0,5.55,clear sky
21,21,Mandan,US,46.8267,-100.8896,68.95,69,0,8.05,clear sky

In [24]:
# 4a. Determine if there are any empty rows.
vacation_cities_df.count()

# vacation_cities_df.isnull()

# There are no empty rows

City_ID                391
City                   391
Country                391
Lat                    391
Lng                    391
Max Temp               391
Humidity               391
Cloudiness             391
Wind Speed             391
Current Description    391
dtype: int64

In [25]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = vacation_cities_df

In [26]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Mahebourg,MU,67.24,light rain,-20.4081,57.7000,
7,Ponta Do Sol,PT,72.72,clear sky,32.6667,-17.1000,
9,Kalmunai,LK,85.42,overcast clouds,7.4167,81.8167,
12,Ejura,GH,67.23,broken clouds,7.3856,-1.3562,
13,Kahului,US,78.96,scattered clouds,20.8947,-156.4700,
14,Mount Isa,AU,69.57,clear sky,-20.7333,139.5000,
17,Faanui,PF,77.86,light rain,-16.4833,-151.7500,
18,Vaini,TO,74.43,scattered clouds,-21.2000,-175.2000,
20,Takab,IR,79.11,clear sky,36.4009,47.1133,
21,Mandan,US,68.95,clear sky,46.8267,-100.8896,

In [30]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": m_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    hotel_lat = row["Lat"]
    hotel_lon = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{hotel_lat},{hotel_lon}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()
clean_hotel_df = hotel_df
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Mahebourg,MU,67.24,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
7,Ponta Do Sol,PT,72.72,clear sky,32.6667,-17.1000,Hotel do Campo
9,Kalmunai,LK,85.42,overcast clouds,7.4167,81.8167,VS Villa
12,Ejura,GH,67.23,broken clouds,7.3856,-1.3562,Fire Servece
13,Kahului,US,78.96,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
...,...,...,...,...,...,...,...
652,Bardiyah,LY,73.74,clear sky,31.7561,25.0865,بورتو بردية
656,Formosa,AR,69.78,clear sky,-26.1775,-58.1781,Asterión Departamentos
658,Ust-Tsilma,RU,68.72,broken clouds,65.4410,52.1498,U Praskov'i
662,Hof,DE,67.23,scattered clouds,50.3167,11.9167,Hotel Burghof
663,Marsaxlokk,MT,78.08,clear sky,35.8419,14.5431,Water's Edge

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [41]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [44]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure(center=(40.0, 41.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))